# Salin file ini menjadi .env lalu isi dengan nilai sebenarnya
# (Sudah otomatis dibaca lewat `pnpm start`)
DATABASE_URL=postgresql://postgres:PASSWORD_ANDA@db.REFERENSI_PROYEK.supabase.co:5432/postgres